*{
    margin: 0;
    padding: 0;
}
body{
   background-color: khaki;
}
.wrapper{
background-color: cadetblue;
    background-size: cover;
    height: 100hv;
}
.navbar{
   background-color: rgb(24, 73, 73);
    display:flex;
    justify-content: space-between;
    padding: 40px;
    float: left;

}
.navbar ul li{
    background-color: rgb(83, 102, 102);
    text-decoration: none;
float: left;}

.nav-wrapper > .left-side > div {
    margin-right: 35px;
    font-size: 1.5em;
    text-transform: uppercase;
}
.nav-link-wrapper{
    height: 23px;
    border-bottom: 1.2px solid transparent;
    transition: border-bottom 0.7s;
}
.nav-link-wrapper a {
    color: aqua;
    text-decoration: wavy;
    transition: color 0.7s;
}
.nav-link-wrapper:hover{
    border-bottom: 1.5px solid gray;
}
.nav-link-wrapper a:hover{
    color: gray;
}



.container{
    width:100%;
    height:100vh;
   background-position: center;
   background-size: cover;

}


