.nav-wrapper{
    display:flex;
    justify-content: space-between;
    padding: 40px;
    background-color: rgb(17, 114, 114);
}
.left-side{
    display: flex;
}
.nav-wrapper > .left-side > div {
    margin-right: 35px;
    font-size: 1.5em;
    text-transform: uppercase;
}
.nav-link-wrapper{
    height: 23px;
    border-bottom: 1.2px solid;
}



